{$MOESTUIN_SITE:moestuin.local} {
	encode zstd gzip

	@api path /api/* /auth/*
	handle @api {
		reverse_proxy server:8080
	}

	handle_path /webcam/* {
		root * /data/webcam
		file_server browse
	}

	handle {
		reverse_proxy web:3000
	}
}
