moestuin.local {
	encode zstd gzip

	handle_path /api/* {
		reverse_proxy localhost:8080
	}
	handle_path /auth/* {
		reverse_proxy localhost:8080
	}
	handle_path /webcam/* {
		root * /var/lib/moestuin/webcam
		file_server browse
	}

	handle {
		root * /var/lib/moestuin/web
		try_files {path} /index.html
		file_server
	}
}
